<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-8" id="left-side">
          <h1>Home#show</h1>
      </div>
      <div class="col-md-1" id="middle">
      </div>
      <div class="col-md-3" id="right-side">
          <p>Find me in app/views/home/show.html.erb</p>
      </div>
    </div>
  </div>
</div>
